.tutorial {
  padding-top: 80px;
}

.tutorial .section-title {
  margin-bottom: 32px;
}

.tutorial h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0ec8f8;
}

.tutorial h2 {
  font-size: 30px;
  font-weight: 700;
}

.tutorial p {
  font-size: 18px;
  color: #64748B;
}

.tutorial .card {
  padding: 15px 15px;
  text-decoration: none;
}

.tutorial .card .text{
  padding-left: 25px;
  padding-top: 10px;
}

.card-icon.purple-icon {
  background-color: #6366F1;
}

.card-icon.orange-icon {
  background-color: #F97316;
}

.card-icon.green-icon {
  background-color: #06B6D4;
}

.tutorial .card h5 {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.tutorial .card p {
  font-size: 14px;
  line-height: 20px;
  color: #64748B;
}